// =============================================================
// Helpers
// =============================================================



.u-reset-owl {
  @include reset-owl();
}

.u-group {
  @include cf;
}

.u-flex {
  display: flex;
}

.u-flex--column {
  flex-direction: column;
}

.u-flex--center {
  align-items: center;
  justify-content: center;
}

.u-uppercase {
  text-transform: uppercase !important;
}

.u-rounded {
  @include rounded;
}

.u-circle {
  @include circle;
}


// Here we print out all our helper classes for our defined colors
// Based on these articles:
// - http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
// - https://blog.atechmedia.com/css-for-multiple-themes/

// Output is in the form of:
//   
// .u-color-primary {
//   color: #ea862c;
// }
//
// .u-bg-neutral--dark {
//   background-color: #9b9b9b; 
// }
   
@each $name, $palette in $palettes {
  @each $type, $color in $palette {
    @if($type == 'base') {
      .u-color-#{$name} {
        color: #{$color};
      }

      .u-bg-#{$name} {
        background-color: #{$color};
      }
    } @else {
      .u-color-#{$name}--#{$type} {
        color: #{$color};
      }

      .u-bg-#{$name}--#{$type} {
        background-color: #{$color};
      }
    }
  }
}
