// =============================================================
// HTML
// =============================================================



@-ms-viewport {
  width: device-width;
}

html {
  @include font(base, default);
  height: 100%;
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: scrollbar;
}

body {
  min-height: 100%;
  background: $page-bg-color;
  color: $page-text-color;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

a {
  color: $link-text-color;

  &:hover {
    color: $link-text-color--hover;
  }
}


// Axiomatic CSS and Lobotomized Owls
// As Per: http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
// Extra selectors because we use a generic reset with margin:0; 
// that is more specific than the general owl selector (* + *).
//
// Reset this per component or element with:
// @include reset-owl();

* + *,
* + p,
* + ul,
* + ol,
* + dl,
* + hr {
  margin-top: $space;
}

* + div:empty {
  margin-top: 0;
}

::selection {
  background: palette(neutral, 500);
  color: palette(neutral, 300);
  text-shadow: none;
}