// =============================================================
// Tables
// =============================================================



.table {
  width: 100%;
  border-collapse: separate;

  th {
    text-align: left;
  }
}
