// =============================================================
// Theming
// =============================================================



// Default theme colors

$page-bg-color:                   #ffffff !default;
$page-text-color:                 palette(neutral, base) !default;
$link-text-color:                 palette(neutral, 700) !default;
$link-text-color--hover:          palette(neutral, base) !default;

$h1-text-color:                   palette(primary) !default;
$h2-text-color:                   palette(primary, 900) !default;
$h3-text-color:                   palette(neutral, 700) !default;
$h4-text-color:                   palette(neutral, 500) !default;
$h5-text-color:                   palette(neutral, 300) !default;
$h6-text-color:                   palette(neutral, 300) !default;