// =============================================================
// Color palette
// =============================================================



// Global color variables.
$color-base-primary: #0182ed !default; //Blauw

$palettes: (
  'primary': (
    base: $color-base-primary, 
    900: #0d91ff,
    700: #2fa1ff,
    500: #59b3ff,
    300: #85c7fe
  ), 
  'neutral': (
    base: #878686, 
    900: #b3b3b3, 
    700: #e0e0e0, 
    500: #f8f8f8, 
    300: #fdfdfd
  )
);


// A simple function for accessing the colors from our mapping
// To call our color palettes in our styles, we use a very simple custom Sass function
// to access colours in our palette by name and optional tone/shade:
// -----------------------------------------------------------------------------------
//
// USAGE:
//
// a {
//   color: palette($myPrettyColor);
//
//   &:hover {
//       color: palette($myPrettyColor, base);
//   }
// }

@function palette($palette, $tone: 'base') {
  @return map-get(map-get($palettes, $palette), $tone);
}
