// =============================================================
// Site wide variables
// =============================================================



// Default border properties

$border-radius:                 8px !default;
$border-width: 					1px !default;
$border-style:					solid !default;
$border-color:					palette(neutral) !default;