// ======================================================================================
//  Site wide variables
// ======================================================================================



// ==========================================
//  Set some values here for reuse
//  within components
// ==========================================

$grid-columns:                                  12 !default;
$grid-gutter-width:                             30px !default;


// ==========================================
//  Grid containers
//  Define the maximum width of `.container`
//  for different screen sizes.
// ==========================================

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;


// ==========================================
//  Set some default uses of color
// ==========================================

$page-shadow-color:                             $brand-neutral-600 !default;
$page-background-color:                         $white !default;
$page-text-color:                               $black !default;
$link-text-color:                               $brand-primary !default;
$link-text-color--hover:                        $brand-primary-light !default;


// ==========================================
//  Default border properties
// ==========================================

$border-radius:                                 5px !default;
$border-radius--small:                          3px !default;
$border-width:                                  1px !default;
$border-style:                                  solid !default;
$border-color:                                  $brand-neutral !default;


// ==========================================
//  Default animation properties
// ==========================================

$transition-speed:                              .4s !default;
$transition-speed--fast:                        .2s !default;
$transition-speed--turbo:                       .1s !default;
$transition-ease:                               ease-in-out !default;

$transition--slow:                              .6s ease !default;
$transition:                                    .4s ease !default;
$transition--fast:                              .2s ease !default;
$transition--turbo:                             .1s ease !default;


// ==========================================
//  Default z-index values
// ==========================================

$z-showmqlabel:                                99;
$z-reset:                                       0;
$z-negative:                                   -1;


// ==========================================
//  Animations
// ==========================================

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}