// =============================================================
// Z-Index
// =============================================================



// Usage: 
// z-index: @z-reset;

$zindex: ( 
  z-reset: 				          0,
  z-negative: 			        -1
);