// =============================================================
// Typography
// =============================================================



@font-face {
  font-family: 'OpenSans-Light';
  src: url('../src/assets/fonts/OpenSans-Lightt.woff2') format('woff2'), url('../src/assets/fonts/OpenSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../src/assets/fonts/OpenSans-Regular.woff2') format('woff2'), url('../src/assets/fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../src/assets/fonts/OpenSans-Bold.woff2') format('woff2'), url('../src/assets/fonts/OpenSans-Bold.woff') format('woff');
}


// Base font size & line height
$base-font-size: 16px !default;
$base-line-height: 22px !default;
$line-height-ratio: calc($base-line-height / $base-font-size) !default;


// First a Map where we assign short names for the font families
$font-base: Arial, Helvetica, sans-serif;
$font-opensans: 'OpenSans-Regular', sans-serif; 
$font-opensans-light: 'OpenSans-Light', sans-serif; 
$font-opensans-bold: 'OpenSans-Bold', sans-serif;

$font-types: (
  'default': ( 
    base: $font-base
  ), 
  'primary': ( 
    base: $font-opensans, 
    light: $font-opensans-light,
    bold: $font-opensans-bold
  )
);


// Then a Map where we store short names for all the sizes
$font-sizes: (
  'x-small': ( 
    font-size: 12, 
    line-height: $line-height-ratio 
  ), 
  'small': ( 
    font-size: 14, 
    line-height: $line-height-ratio 
  ), 
  'base': ( 
    font-size: 16, 
    line-height: $line-height-ratio 
  ), 
  'mid-medium': ( 
    font-size: 18, 
    line-height: $line-height-ratio 
  ), 
  'medium': ( 
    font-size: 20, 
    line-height: $line-height-ratio 
  ), 
  'x-medium': ( 
    font-size: 22,
    line-height: $line-height-ratio 
  ), 
  'mid-large': ( 
    font-size: 24, 
    line-height: $line-height-ratio 
  ), 
  'large': ( 
    font-size: 30, 
    line-height: $line-height-ratio 
  ), 
  'x-large': ( 
    font-size: 36, 
    line-height: $line-height-ratio 
  ), 
  'xx-large': ( 
    font-size: 42, 
    line-height: $line-height-ratio 
  )
);