// =============================================================
// Main
// =============================================================



.o-main {
  display: flex;
}

.o-header {
  display: flex;
}

.o-footer {
  display: flex;
}