// =============================================================
// Givebreakpoint
// =============================================================



$use-plugin-givebreakpoint:         false !default;


@if $use-plugin-givebreakpoint {
  // Pass rendered breakpoint into the body, 
  // to read this out in javascript

  body::before {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: none;
    overflow: hidden;
    clip: rect(0 0 0 0);
    

    @each $breakpoint in $breakpoints {     // 2
      $name: nth($breakpoint, 1);
      $declaration: nth($breakpoint, 2);
      @media only screen and #{$declaration} {
        content: '#{$name}';
      }
    }
  }
}