// =============================================================
// Media Queries
// =============================================================



// Enclose a block of code with a 
// media query as named in `$breakpoints`.

// USAGE:
//
// @include media-query(m) { ... }

@mixin media-query($media-query) {
  $breakpoint-found: false;

  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if $media-query == $name and $declaration {
      $breakpoint-found: true;

      @media only screen and #{$declaration} {
        @content;
      }
    }
  }

  @if $breakpoint-found == false {
    @warn 'Breakpoint ‘#{$media-query}’ does not exist';
  }
}


// A special mixin for creating 
// `max-width` media-queries

// USAGE:
//
// @include media-query-max(s) { ... }

@mixin media-query-max($media-query-max) {
  $breakpoint-max-found: false;

  @each $breakpoint-max in $breakpoints-max {
    $name: nth($breakpoint-max, 1);
    $declaration: nth($breakpoint-max, 2);

    @if $media-query-max == $name and $declaration {
      $breakpoint-max-found: true;

      @media only screen and #{$declaration} {
        @content;
      }
    }
  }

  @if $breakpoint-max-found == false {
    @warn 'Breakpoint ‘#{$media-query-max}’ does not exist';
  }
}


// Helper function to get a list 
// row from the breakpoints list

@function get-breakpoint-list($label) {
  @each $list in $breakpoints {
    @if nth($list, 1) == $label {
      @return $list;
    }
  }
  @return null;
}



// A special helper for setting a 
// media query with a min-width 
// and a max-width $breakpoints 
// and $breakpoints-max lists are needed

// USAGE:
//
// @include media-query-only(m) { ... }

@mixin media-query-only($media-query) {
  $breakpoint-max-found: false;

  @each $breakpoint-max, $to-value in $breakpoints-max {
    $name: nth($breakpoint-max, 1);
    $from-value: nth(get-breakpoint-list($breakpoint-max), 2);
      
    @if $media-query == $name and $from-value {
      $breakpoint-max-found: true;

      @media only screen and #{$from-value} and #{$to-value} {
        @content;
      }
    }
  }
  @if $breakpoint-max-found == false {
    @warn 'Breakpoint ‘#{$media-query}’ does not exist in $breakpoints-max list';
  }
}


// Enclose a block of code with a custom media query 
// Used only for finetuning values on specific widths
// Try to avoid doing this as much as possible

@mixin from-width($from-width) {
  @media only screen and (min-width: $from-width) {
    @content;
  }
}