// =============================================================
// Buttons
// =============================================================



.c-button {
  border: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}